FACEBOOK_SECRET = SKIP
FACEBOOK_ID = SKIP
FACEBOOK_CALLBACK = http://localhost:3000/auth/facebook/callback
SESSION_SECRET = TangSecret
PORT = 3000
MONGODB_URI= mongodb://localhost/restaurant-list
GOOGLE_SECRET = SKIP
GOOGLE_ID = SKIP
GOOGLE_CALLBACK = http://localhost:3000/auth/google/callback