<div class="row">
  <div class="col-md-6 m-auto">
    <div class="card card-body mt-5 mb-5">
      <a class="text-info" href="/users/login"><i class="fas fa-arrow-left"></i></a>
      <h2 class="mb-3 text-center">Forget Password</h2>
      {{> message}}
      <form action="/users/forget" method="POST">
        <div class="form-group">
          <input type="email" name="email" name="email" placeholder="Enter Email" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-info btn-block">Send Password</button>
      </form>
    </div>
  </div>
</div>