<div class="row">
  <div class="col-md-6 m-auto">
    <div class="card card-body mt-5 mb-5">
      <h1 class="mt-3 text-center">Login</h1>
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" name="email" placeholder="Enter Email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" name="password" placeholder="Enter Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
        <a href="/auth/facebook" class="btn btn-info btn-block">Facebook Login</a>
        <a href="/restaurants/new" class="btn btn-info btn-block">New</a>
      </form>
      <p class="lead mt-3">
        No Account? <a href="/users/register">Register</a>
      </p>
    </div>
  </div>
</div>